h1{
    margin-left: 560px;
    font-family: sans-serif;
    color: rgb(143, 87, 3);
    margin-top: 10px;
}


form{
    
    border: 1px solid black;
    border-radius: 5px;
    background-color: beige;
    padding:10px;
    width:20%;
    margin-left: 500px;
    
}

label{
    display:block;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin: 5px;
    margin-bottom: 5px;
    margin-left: 30px;
    color: black;
   
}

 input[type="email"], input[type="text"]{
    width: 70%;
    max-width: 300px;
    padding: 10px;
    height:20px;
    margin: 10px auto;
    border-radius: 5px;
    display: flex;
    align-items: center;
    border: 1px solid black;
    font-size: 13px;
}

.password-container{
    background: #fff;
    width:70%;
    max-width: 300px;
    border-radius: 5px;
    padding:10px;
    margin: 10px auto;
    display: flex;
    align-items: center;
    border: 1px solid black;
    height: 20px;

}

.password-container input{
    width: 100%;
    padding: 10px 0;
    border:0;
    outline: 0;
    font-size: 13px;
    font-family: sans-serif;
    color:rgb(25, 14, 36);
}

.password-container img{
    width: 25px;
    height: 25px;
    margin-right: 2px;
    cursor: pointer;
}

button{
    background-color: rgb(143, 87, 3);
    color: white;
    height: 36px;
    width:200px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 8px;
    margin-left: 37px;
    margin-top: 10px;
    text-align: center;
}

button:hover{
    opacity: 0.7;
}

button:active{
    opacity: 0.5;
}

@media screen and (max-width:1200px){
    h1 {
        margin-left: 0;
        text-align: center;
    }

    form {
        width: 30%;
        margin-left: auto;
        margin-right: auto;
    }

    label {
        margin-left: 65px;
        
    }

    input[type="email"], input[type="text"], .password-container {
        width: 60%;
        margin: 10px auto;
    }

    button {
        width: 50%;
        margin-left: 80px;
        margin-right: 0px;
    }
}



@media (max-width: 1023px) {
    h1 {
        margin-left: 0;
        text-align: center;
    }

    form {
        width: 40%;
        margin-left: auto;
        margin-right: auto;
    }

    label {
        margin-left: 0;
        text-align: center;
    }

    input[type="email"], input[type="text"], .password-container {
        width: 80%;
        margin: 10px auto;
    }

    button {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}

@media (max-width: 500px) {
    h1 {
        font-size: 24px;
    }

    form {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }

    label {
        font-size: 16px;
    }

    input[type="email"], input[type="text"], .password-container {
        width: 80%;
    }

    button {
        width: 100%;
        font-size: 14px;
    }
}
